@use "/src/styles/utils/vars";
@use "/src/styles/utils/mixins";
@use "/src/styles/utils/extends";

.chat-page {
  background-color: vars.$c-white;
  flex-grow: 1;
  border-radius: 16px;
  display: flex;

  height: calc(100vh - 144px);

  &__menu {
    width: 35%;
    border-right: 1px solid #f1f2f2;
  }

  &__menu-header {
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #f1f2f2;
  }

  &__boxes {
    height: 144px;
  }

  &__list {
    list-style: none;
    height: 100%;
  }

  &__element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__element-header {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    position: relative;
    padding-left: 16px;
    border-bottom: 1px solid #f1f2f2;
  }

  &__element-button {
    width: 32px;
    height: 32px;
    @extend %icon-button;
    background-image: url("/public/images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;

    &--clicked {
      width: 32px;
      height: 32px;
      @extend %icon-button;
      background-image: url("/public/images/arrow-down.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 8px;
    }
  }

  &__element-info {
    @extend %secondary-text;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: vars.$c-red;
    color: vars.$c-white;
    position: absolute;
    right: 8px;
  }

  &__window--empty {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 400px;
  }

  &__window--empty-content {
    width: 200px;
    height: 284px;
    text-align: center;
  }

  &__window {
    width: 65%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__window-label {
    font-weight: 500;
    font-size: 16px;
    padding: 17px;
    border-bottom: 1px solid #f1f2f2;
  }

  &__text-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    height: 30px;
  }

  &__text-paragraph {
    font-size: 14px;
    color: #818183;
    font-weight: 400;
    text-align: center;
  }

  &__messages {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &__message {
    display: flex;
    max-width: 75%;
    min-width: 100px;
    margin-top: 16px;

    &--left {
      flex-direction: row;
      align-self: flex-start;
    }

    &--right {
      flex-direction: row-reverse;
      align-self: flex-end;
    }

    &--grouped {
      margin-top: 4px;
    }

    &-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      color: #444;
      padding-bottom: 4px;
      min-width: 220px;
    }

    &-user-info {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-time-info {
      display: flex;
      align-items: center;
      gap: 8px;
      position: relative;
    }

    &-info {
      all: unset;
      cursor: pointer;

      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-menu {
      position: absolute;
      background: #FFFFFF;
      border-radius: 4px;
      list-style: none;
      padding: 8px 0;
      width: 170px;
      box-shadow: 0 2px 8px #333A4A29;
      right:0;
      top: 30px;
      z-index: 10;

      li:hover img.chat-page__message-menu-delete {
        content: url('/public/images/delete-message-icon-hover.svg');
      }

      li:hover img.chat-page__message-menu-edit {
        content: url('/public/images/edit-message-icon-hover.svg');
      }

      li {
        padding: 8px 16px;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        color: #1D1D1F;
        cursor: pointer;

        display: flex;
        gap: 8px;
        align-items: center;

        &:hover {
          background-color: #E3EEEE;
          color: #006666;
        }
      }
    }
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
  }

  &__message &__bubble {
    padding: 10px 14px;
    background-color: #006d66;
    color: white;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.4;
    word-wrap: break-word;
    max-width: 420px;
    min-width: 40px;
    width: fit-content;
    white-space: pre-wrap;
    word-break: break-word;

    &--gray {
      background-color: #f1f1f1;
      color: #000;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-top: 1px solid #f1f2f2;
    position: relative;

    &-field {
      flex: 1;
      min-height: 40px;
      max-height: 200px;
      resize: none;
      overflow-y: auto;
      line-height: 1.4;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid #ccc;
      box-sizing: content-box;
    }
  }

  &__additional-buttons {
    display: flex;
    justify-content: center;
  }

  &__send-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}
