@use "/src/styles/utils/vars";
@use "/src/styles/utils/mixins";
@use "/src/styles/utils/extends";

.team {
  background-color: vars.$c-white;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid vars.$c-gray-10;
    padding: 16px 24px;
  }

  &__tabs {
    list-style-type: none;
    display: flex;
    gap: 16px;
  }

  &__tab-button {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 48px;
    cursor: pointer;
    padding: 13px 16px;
    border: none;
    color: vars.$c-gray-100;
    background-color: transparent;
    transition: background-color vars.$transition-time;

    &:hover {
      background-color: vars.$c-gray-10;
    }

    &--active {
      color: vars.$c-primary-teal;
      background-color: vars.$c-gray-10;
    }
  }

  &__tab-button-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: vars.$c-white;
    background-color: vars.$c-red;
  }

  &__create-btn {
    cursor: pointer;
    padding: 13px 16px;
    background-color: vars.$c-primary-teal;
    color: vars.$c-white;
    @extend %button-text;
    border: none;
    border-radius: 4px;
    transition: background-color vars.$transition-time;

    &:hover {
      background-color: vars.$c-teal-50;
    }

    &:active {
      background-color: vars.$c-teal-dark-100;
    }
  }

  &__content {
    background-image: url("/public/images/no-teams.svg");
    background-repeat: no-repeat;
    background-position: center 56px;
    height: 708px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content-message {
    @extend %h3;
  }

  &__modal {
    border-radius: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 680px;
    background-color: vars.$c-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 224px 24px 24px;
    background-image: url("/public/images/people.svg");
    background-repeat: no-repeat;
    background-position: center 48px;
  }

  &__modal-close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color vars.$transition-time;

    &:hover {
      background-color: vars.$c-gray-10;
    }
  }

  &__modal-title {
    @extend %h2;
    margin-bottom: 24px;
  }

  &__modal-input {
    @extend %body-text;
    width: 100%;
    padding: 13px 16px;
    height: 48px;
    margin-bottom: 24px;
    border: 1px solid vars.$c-gray-40;
    border-radius: 4px;
  }

  &__modal-actions {
    display: flex;
    gap: 16px;
  }

  &__modal-cancel {
    cursor: pointer;
    padding: 13px 49px;
    color: vars.$c-gray-100;
    background-color: vars.$c-gray-10;
    border: 1px solid vars.$c-gray-40;
    @extend %button-text;
    border-radius: 4px;
    transition: background-color vars.$transition-time;

    &:hover {
      background-color: vars.$c-light-teal-30;
    }

    &:active {
      background-color: vars.$c-teal-dark-100;
    }
  }

  &__modal-create {
    cursor: pointer;
    padding: 13px 28px;
    background-color: vars.$c-primary-teal;
    color: vars.$c-white;
    @extend %button-text;
    border: none;
    border-radius: 4px;
    transition: background-color vars.$transition-time;

    &:hover {
      background-color: vars.$c-teal-50;
    }

    &:active {
      background-color: vars.$c-teal-dark-100;
    }
  }

  &__overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 31, 0.6);
    z-index: 1;
  }
}
