.app {
  max-width: 1376px;
  margin: 0 auto;
  padding-block: 24px;

  &__loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 48px);
    width: 100%;
  }
}