@use "/src/styles/utils/vars";

/*#region Typography titles */
%h-sizes {
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
}

%h1 {
  @extend %h-sizes;
  font-size: 48px;
}

%h2 {
  @extend %h-sizes;
  font-size: 36px;
}

%h3 {
  @extend %h-sizes;
  font-size: 30px;
}

%h4 {
  @extend %h-sizes;
  font-size: 24px;
}

%h5 {
  @extend %h-sizes;
  font-size: 20px;
  font-weight: 700;
}

%h6 {
  @extend %h-sizes;
  font-size: 20px;
  font-weight: 400;
}
/*#endregion Typography titles */

/*#region Typography body text */
%text-size {
  line-height: 140%;
  letter-spacing: 0%;
}

%underline {
  @extend %text-size;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

%large-body-text {
  @extend %text-size;
  font-size: 18px;
  font-weight: 400;
}

%large-contrast-text {
  @extend %text-size;
  font-size: 18px;
  font-weight: 700;
}

%body-text {
  @extend %text-size;
  font-size: 16px;
  font-weight: 400;
}

%button-text {
  @extend %text-size;
  font-size: 16px;
  font-weight: 500;
}

%contrast-text {
  @extend %text-size;
  font-size: 16px;
  font-weight: 700;
}

%secondary-text {
  @extend %text-size;
  font-size: 14px;
  font-weight: 400;
}

%sall-contrast-text {
  @extend %text-size;
  font-size: 14px;
  font-weight: 500;
}

%small-description-text {
  @extend %text-size;
  font-size: 12px;
  font-weight: 400;
}
/*#endregion Typography body text */

/*#region Button styles */

%text-button {
  position: relative;
  cursor: pointer;
  color: vars.$c-primary-teal;
  transition: color vars.$transition-time;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: vars.$c-primary-teal;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform vars.$transition-time ease;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }

  &:active {
    color: vars.$c-teal-dark-100;

    &::before {
      background-color: vars.$c-teal-dark-100;
    }
  }

  &:disabled {
    color: vars.$c-gray-40;
  }
}

%primary-button {
  @extend %button-text;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 13px 16px;

  color: vars.$c-white;
  background-color: vars.$c-primary-teal;

  transition: background-color vars.$transition-time,
    color vars.$transition-time;

  &:hover {
    background-color: vars.$c-teal-50;
  }

  &:active {
    background-color: vars.$c-teal-dark-100;
  }

  &:disabled {
    color: vars.$c-gray-40;
    background-color: vars.$c-gray-10;
    cursor: not-allowed;
  }
}

%text-icon-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  @extend %body-text;
  color: vars.$c-gray-100;
  border: 1px solid transparent;
  transition: background-color vars.$transition-time,
    border-color vars.$transition-time;

  &:hover {
    background-color: vars.$c-gray-10;
    border-color: vars.$c-gray-40;
  }

  &:active {
    background-color: vars.$c-light-teal-30;
    border-color: vars.$c-primary-teal;
  }

  &:disabled {
    color: vars.$c-gray-40;
    cursor: not-allowed;
  }
}

%colored-button {
  position: relative;
  cursor: pointer;
  color: vars.$c-primary-teal;
  transition: color vars.$transition-time;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: vars.$c-primary-teal;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform vars.$transition-time ease;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }

  &:active {
    color: vars.$c-teal-dark-100;

    &::before {
      background-color: vars.$c-teal-dark-100;
    }
  }

  &:disabled {
    color: vars.$c-gray-40;
  }
}

%outlined-button {
  @extend %button-text;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 13px 46px;
  color: vars.$c-gray-100;
  border: 1px solid transparent;
  transition: background-color vars.$transition-time,
    border-color vars.$transition-time, color vars.$transition-time;

  &:hover {
    background-color: vars.$c-light-teal-10;
    border-color: vars.$c-primary-teal;
    color: vars.$c-primary-teal;
  }

  &:active {
    background-color: vars.$c-light-teal-30;
    border-color: transparent;
    color: vars.$c-teal-dark-100;
  }

  &:disabled {
    color: vars.$c-gray-40;
    border-color: vars.$c-gray-40;
    background-color: transparent;
    cursor: not-allowed;
  }
}

%icon-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color vars.$transition-time;

  &:hover {
    background-color: vars.$c-gray-10;
  }

  &:disabled {
    background-color: transparent;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

/*#endregion Button styles */
