/* Colors */
$c-white: #FFFFFF;

$c-gray-100: #1D1D1F;
$c-gray-60: #4F4F51;
$c-gray-50: #818183;
$c-gray-40: #B4B4B4;
$c-gray-10: #F1F2F2;

$c-primary-teal: #006666;
$c-teal-50: #729292;
$c-teal-dark-100: #103D3F;


$c-blue: #364fc7;

$transition-time: 0.4s;