@use "/src/styles/utils/vars";
@use "/src/styles/utils/mixins";
@use "/src/styles/utils/extends";

.page-compilator {
  &__nav {
    display: flex;
    width: 100%;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    background-color: vars.$c-white;
    border-radius: 16px;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 92px;
      height: 48px;
      border-radius: 4px;
      text-decoration: none;
      background-color: vars.$c-primary-teal;

      &-text {
        @extend %button-text;
        color: vars.$c-white;
      }

      &:hover {
        background-color: vars.$c-teal-50;
      }

      &:active {
        background-color: vars.$c-teal-dark-100;
      }

      &:disabled {
        background-color: vars.$c-gray-10;
      }
    }
  }

  &__content {
    @include mixins.grid;
    margin-top: 16px;
    padding-block: 24px;
    border-radius: 16px;
    background-color: vars.$c-white;
  }

  &__title-and-img {
    grid-column: 2 / 7;
  }

  &__title {
    @extend %h3;
    color: vars.$c-primary-teal;
  }

  &__img {
    margin-top: 32px;
    width: 100%;
  }

  &__text {
    color: vars.$c-primary-teal;
  }

  &__regestration {
    grid-column: 8 / 12;
  }

  &__greeting {
    @extend %h1;
    color: vars.$c-gray-100;
  }

  &__message {
    @extend %body-text;
    margin-top: 16px;
    color: vars.$c-gray-60;
  }

  &__form {
    margin-top: 24px;
  }

  &__label {
    display: block;
    position: relative;
    margin-top: 16px;
    color: vars.$c-gray-100;
  }

  &__input {
    @extend %body-text;
    display: block;
    width: 100%;
    margin-top: 4px;
    padding: 13px 52px 13px 16px;
    border: 1px solid vars.$c-gray-40;
    border-radius: 4px;
    color: vars.$c-gray-100;
    outline: none;

    &:focus {
      border-color: vars.$c-primary-teal;
    }

    :disabled {
      border-color: vars.$c-gray-40;
    }

    &::placeholder {
      color: vars.$c-gray-50;
    }

    &:disabled::placeholder {
      color: vars.$c-gray-40;
    }

    //error styles for controlled validation (username/password)
    &--error {
      border-color: vars.$c-red;
    }

    &--error-email {
      &:invalid {
        border-color: vars.$c-red;
      }
    }
  }

  &__input-eye {
    position: absolute;
    top: 39px;
    right: 16px;
    cursor: pointer;
  }

  &__error-message {
    @extend %secondary-text;
    margin-top: 4px;
    color: vars.$c-red;
  }

  &__password-rules-container {
    margin-top: 16px;
  }

  &__forgot-password {
    border: none;
    background-color: transparent;
    outline: none;

    &:disabled {
      .page-compilator__forgot-password-link {
        color: vars.$c-gray-40;
        
        &::after {
          width: 0;
        }
      }
    }

    &-link {
      @extend %button-text;
      display: block;
      position: relative;
      margin-top: 8px;
      color: vars.$c-primary-teal;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: vars.$c-primary-teal;
        opacity: 0;
        transition: all vars.$transition-time;
      }

      &:hover::after,
      &:focus::after{
        width: 100%;
        opacity: 1;
      }

      &:active {
        color: vars.$c-teal-dark-100;

        &::after {
          background-color: vars.$c-teal-dark-100;
        }
      }
    }
  }

  &__server-error {
    @extend %body-text;
    margin-top: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    width: 100%;
    min-height: 30px;
    color: vars.$c-gray-100;
    background-color: vars.$c-secondary-red;
  }

  &__submit {
    @extend %button-text;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 24px;
    padding: 13px;
    border: none;
    border-radius: 4px;
    background-color: vars.$c-primary-teal;
    color: vars.$c-white;
    cursor: pointer;

    &:hover {
      background-color: vars.$c-teal-50;
    }

    &:active {
      background-color: vars.$c-teal-dark-100;
    }

    &:disabled {
      background-color: vars.$c-gray-10;
    }
  }

  &__divider {
    @extend %secondary-text;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    color: vars.$c-gray-60;

    &::before,
    &::after {
      content: " ";
      position: absolute;
      width: 193px;
      height: 1px;
      background-color: vars.$c-gray-40;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__social-buttons {
    list-style: none;
    margin-top: 24px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-top: 16px;
    padding-block: 13px;
    border: 1px solid vars.$c-gray-40;
    border-radius: 4px;
    background-color: vars.$c-gray-10;
    cursor: pointer;

    &--top {
      margin-top: 24px;
    }

    &-text {
      @extend %button-text;
      color: vars.$c-teal-dark-100;
    }

    &-img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    // for future refactor this code into @function
    $logos-color: ('google' : '/public/images/google-logo.svg', 
    'facebook' : '/public/images/facebook-logo.svg',
    'apple' : '/public/images/apple-logo.svg');

    @each $logo, $url in $logos-color {
      .page-compilator__button-img--#{$logo} {
        background-image: url($url);
      }
    }

    &:hover {
      border-color: vars.$c-teal-dark-100;
      background-color: vars.$c-light-teal-10;

      .page-compilator__button-text {
        color: vars.$c-teal-dark-100;
      }
    }

    &:active {
      border-color: transparent;
      background-color: vars.$c-light-teal-30;

      .page-compilator__button-text {
        color: vars.$c-teal-dark-100;
      }
    }

    &:disabled {
      border-color: vars.$c-gray-40;
      background-color: vars.$c-white;

      .page-compilator__button-text {
        color: vars.$c-gray-40;
      }

      $logos-grey: ('google' : '/public/images/google-logo-grey.svg', 
      'facebook' : '/public/images/facebook-logo-grey.svg',
      'apple' : '/public/images/apple-logo-grey.svg');

      @each $logo, $url in $logos-grey {
        .page-compilator__button-img--#{$logo} {
          background-image: url($url);
        }
      }
    }
  }

  &__sign-up {
    display: flex;
    gap: 8px;
    margin-top: 24px;

    &-text {
      @extend %body-text;
      color: vars.$c-gray-100;
    }

    &-button {
      border: none;
      background-color: transparent;
      outline: none;

      &:disabled {
        .page-compilator__sign-up-link {
          color: vars.$c-gray-40;
          
          &::after {
            width: 0;
          }
        }
      }
    }

    &-link {
      @extend %button-text;
      position: relative;
      color: vars.$c-primary-teal;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: vars.$c-primary-teal;
        opacity: 0;
        transition: all vars.$transition-time;
      }

      &:hover::after,
      &:focus::after{
        width: 100%;
        opacity: 1;
      }

      // possible feature: make all underlines using ::after, so their appearance will be smooth and good-looking;
      &:active {
        color: vars.$c-teal-dark-100;

        &::after {
          background-color: vars.$c-teal-dark-100;
        }
      }
    }
  }


  &__terms {
    @extend %secondary-text;
    margin-top: 24px;

    &-button {
      border: none;
      background-color: vars.$c-white;
      outline: none;

      //button-links styles have similar underline implemantation - find a way to make it into a function or DRY (dont repeat yourself)
      //@each also has similar implementation - find a way to DRY

      &:disabled {
        .page-compilator__terms-link {
          color: vars.$c-gray-40;
          
          &::after {
            width: 0;
          }
        }
      }
    }

    &-link {
      position: relative;
      color: vars.$c-blue;
      text-decoration: none;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: vars.$c-blue;
        opacity: 0;
        transition: all 300ms
      }

      &:hover::after,
      &:focus::after{
        width: 100%;
        opacity: 1;
      }

      &:active {
        color: vars.$c-gray-100;

        &::after {
          transition: all vars.$transition-time;
        }
      }
    }
  }
}
