@use "../../styles/utils/vars";
@use "../../styles/utils/extends";

.rewards {
  background-color: vars.$c-white;
  border-radius: 16px;
  padding: 24px;

  &__title {
    @extend %h4;
    color: vars.$c-gray-100;
    margin-bottom: 24px;
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 70px;
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__item-img{

  }

  &__item-title{
    text-align: center;
  }
}