@use "../../styles/utils/vars";
@use "../../styles/utils/extends";

$side-bar-padding: 24px;

$icons: (
  "exercises": "/public/images/cases-black.svg",
  "dashboard": "/public/images/dashboard-black.svg",
  "my-exercises": "/public/images/chatbar-black.svg",
  "chats": "/public/images/chat-black.svg",
  "team": "/public/images/users-black.svg",
);

.side-bar {
  grid-column: 1 / 4;
  width: 332px;
  height: calc(100vh - 48px);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__container {
    width: inherit;
    height: inherit;
    background-color: vars.$c-white;
    border-radius: 16px;
    position: fixed;
  }

  &__header {
    padding: $side-bar-padding;
    border-bottom: 1px solid rgba(241, 242, 242, 1);
  }

  &__nav {
    padding: $side-bar-padding;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
  }

  &__link {
    display: flex;
    gap: 8px;
    text-decoration: none;
    padding: 13px 8px;
    border: none;
    border-radius: 4px;
    @extend %body-text;
    @extend %text-icon-button;

    @each $key, $icon in $icons {
      &.side-bar__link--#{$key}::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-color: vars.$c-gray-100;
        -webkit-mask-image: url(#{$icon});
        mask-image: url(#{$icon});
      }
    }

    &:hover {
      background-color: vars.$c-light-teal-10;
      color: vars.$c-primary-teal;

      @each $key, $icon in $icons {
        &.side-bar__link--#{$key}::before {
          background-color: vars.$c-primary-teal;
        }
      }
    }

    &:active {
      background-color: vars.$c-light-teal-30;
      color: vars.$c-teal-dark-100;

      @each $key, $icon in $icons {
        &.side-bar__link--#{$key}::before {
          background-color: vars.$c-teal-dark-100;
        }
      }
    }

    &:disabled {
      background-color: transparent;
      color: vars.$c-gray-40;

      @each $key, $icon in $icons {
        &.side-bar__link--#{$key}::before {
          background-color: vars.$c-gray-40;
        }
      }
    }

    &--active {
      background-color: vars.$c-gray-10;
      color: vars.$c-primary-teal;
      @extend %contrast-text;

      @each $key, $icon in $icons {
        &.side-bar__link--#{$key}::before {
          background-color: vars.$c-primary-teal;
        }
      }
    }
  }
}