@use "../../styles/utils/vars";
@use "../../styles/utils/extends";

.control-panel {
  box-sizing: border-box;
  width: 100%;
  background-color: vars.$c-white;
  border: 1px solid vars.$c-gray-10;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  &__nav {
    display: flex;
    height: 80px;
    padding: 16px 24px;
  }

  &__button {
    @extend %text-icon-button;
    text-decoration: none;
    height: 48px;
    padding: 8px 16px;
    border-radius: 8px;

    &--active {
      color: vars.$c-teal-dark-100;
      background-color: vars.$c-gray-10;
    }
  }

  &__content {

  }
}